Lenguaje de Marcas/UF1-Programación con XML/Actividad 2/XML + DTD/Antiheroes.dtd

<!ELEMENT antiheroes (antiheroe+)>

<!ELEMENT antiheroe (nombre,codigo,foto,sexo,poder,fuerza,comentario)>
<!ATTLIST antiheroe id CDATA #REQUIRED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT codigo (#PCDATA)>

<!ELEMENT foto (a)>
<!ELEMENT a (#PCDATA)>
<!ATTLIST a href CDATA #REQUIRED>

<!ELEMENT sexo (#PCDATA)>
<!ELEMENT poder (#PCDATA)>
<!ELEMENT fuerza (#PCDATA)>
<!ELEMENT comentario (#PCDATA)>